@model Banking.Models.AdminModel

@{
    ViewBag.Title = "CustomerDetails";
}

<h2>CustomerDetails</h2>

<div>
    <h4>AdminModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank_Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank_Branch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IFSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IFSC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
